* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

/* from responsive design lecture */
img {
    max-width: 100%;
}

/* utility classes */
.center-block {
    display: block;
    margin: 0 auto;
}

.center-text {
    text-align: center;
}

.display-none {
    display: none;
}
