.container {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
}

/* helpers */
header > div {
    background-color: orange;
}

.hero > div {
    background-color: greenyellow;
}

.content > section {
    background-color: deepskyblue;
}

footer > div {
    background-color: silver;
}

.box {
    margin: .5rem;
    height: 5rem;
}

/* tablet
*/
@media screen and (min-width: 768px) and (max-width: 1024px) {
    .container {
        width: 90%;
    }

    .hero > div {
        height: 15rem;
    }

    footer {
        display: flex;
        flex-wrap: wrap;
    }

    footer > div {
        flex: 1 0 40%;
        flex-wrap: wrap;
    }
}

/* desktop
*/
@media screen and (min-width: 1024px) {
    .container {
        width: 80%;
    }

    header,
    .content,
    footer {
        display: flex;
    }

    header > div,
    .content > section,
    footer > div {
        flex-grow: 1;
    }

    .hero > div {
        height: 15rem;
    }
}
