.parent {
    width: 80%;
    margin: 5em auto;
    padding: 50px;

    background-color: silver;
}

.child {
    display: block;

    width: 100%;
    height: 250px;
    background-color: blue;
}

/* tablet
768+
*/
@media screen and (min-width: 786px) {
    .child {
        width: 50%;
        height: 350px;
        background-color: yellow;
    }
}

/* desktop
1200+
*/
@media screen and (min-width: 1200px) {
    .child {
        width: 33.33%;
        height: 450px;
        background-color: green;
    }
}
