a {
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    background-color: white;
    color: darkgrey;
}

nav ul {
    list-style-type: none;
}

nav a {
    display: block;

    width: 200px;
    border: 1px solid;

    padding: 5px;
    margin: 5px;

    background-color: darkgrey;
    color: white;
}
