a {
    text-decoration: none;
}

nav ul {
    display: flex;

    padding: 5px;
    margin: 5px;

    list-style-type: none;
}

nav a {
    display: block;

    border: 1px solid;

    padding: 5px;
    margin: 5px;

    color: blue;
}

nav a:hover {
    color: red;
}
