* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    background-color: silver;
    width: 100vw;
    min-height: 100vh;
}

#first {
    background-color: antiquewhite;
    width: 300px;
    height: 300px;

    padding: 30px;
    border: 4px dashed darkolivegreen;
}

#second {
    background-color: aquamarine;
    width: 300px;
    height: 300px;

    padding: 50px;
    border: 4px dashed darkolivegreen;
}

#third {
    background-color: bisque;
    width: 45%;
    height: 100px;
}

#fourth {
    background-color: burlywood;
    height: 250px;
    width: 200px;

    border: 5px solid blue;

    overflow: hidden;
}

#fifth {
    margin: 1em;
    border: 5px solid chartreuse;
    padding: 1em;
}
