nav .flex {
    display: flex;
    flex-direction: column;
}

nav ul {
    list-style: none;
}

nav a {
    display: block;

    padding: 1rem;

    margin: 5px;
    border: 1px solid black;

    text-decoration: none;
    color: black;
}

@media screen and (min-width: 320px) {
    nav .flex {
        flex-direction: initial;
    }
}
